<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

      <h1 class="text-center login-title">Create your personal account</h1>

      <div class="account-wall">
        <div class="register-logo"></div>
        <form class="form-signin" action="handler.php" method="POST">

          <input id="form-signin__name" type="text" name="name" class="form-control" placeholder="Name" required>
          <input id="form-signin__email" type="email" name="email" class="form-control" placeholder="E-mail" required>
          <input id="form-signin__password" type="password" name="password" class="form-control" placeholder="Password" required>
          <input id="form-signin__password-repeat" type="password" name="password-repeat" class="form-control" placeholder="Repeat Password" required>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Create an account</button>

        </form>
      </div>
      <a href="index.html" class="text-center after-wall-link">Have an account? Sign in for surveyProj </a>
    </div>
  </div>
</div>
