<div class="survey">
    <h1 class="text-center">My super survey</h1>
    <!-- Nav tabs -->
    <ul class="nav nav-pills" role="tablist" id="survey-tabs">
        <li role="presentation"><a href="#survey-page-1" aria-controls="survey-editor-page-1" role="tab" data-toggle="tab">Page 1</a></li>
        <li role="presentation" class="active"><a href="#survey-page-2" aria-controls="survey-editor-page-2" role="tab" data-toggle="tab">Page 2</a></li>
        <li role="presentation"><a href="#survey-page-3" aria-controls="survey-editor-page-3" role="tab" data-toggle="tab">Page 3</a></li>
        <li role="presentation"><a href="#survey-page-3" aria-controls="survey-editor-page-3" role="tab" data-toggle="tab">Page 4</a></li>
        <li role="presentation"><a href="#survey-page-3" aria-controls="survey-editor-page-3" role="tab" data-toggle="tab">Page 5</a></li>
        <li role="presentation"><a href="#survey-page-3" aria-controls="survey-editor-page-3" role="tab" data-toggle="tab">Page 6</a></li>
        <li role="presentation"><a href="#survey-page-3" aria-controls="survey-editor-page-3" role="tab" data-toggle="tab">Page 7</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="survey-page-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, earum.</div>
        <div role="tabpanel" class="tab-pane fade in active" id="survey-page-2">
           <!--  <div class="survey-page"> -->
                <div class="page-widget page-title">
                    <h4>Page 2</h4>
                </div>
                <div class="page-widget checkbox-question">
                    <h4>1. Question with several variants of answer</h4>
                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Answer 1</input>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Answer 2</input>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Answer 3</input>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="page-widget radio-question">
                    <h4>2. Question with one answer option</h4>
                    <div class="input-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> Answer1
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option1"> Answer2
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option1"> Answer3
                            </label>
                        </div>
                    </div>
                </div>
                <div class="page-widget textarea-question">
                    <h4>3. Question with text answer</h4>
                    <div class="input-group">
                        <div class="panel panel-default text-editor">
                            <div class="panel-heading">
                                <div id="quill-toolbar">
                                    <span class="ql-formats">
                                <select class="ql-font">
                                    <option selected=""></option>
                                    <option value="serif"></option>
                                    <option value="monospace"></option>
                                </select>
                                <select class="ql-size">
                                    <option value="small"></option>
                                    <option selected=""></option>
                                    <option value="large"></option>
                                    <option value="huge"></option>
                                </select>
                            </span>
                                    <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                                    <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                                    <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                                
                                <select class="ql-align">
                                    <option selected=""></option>
                                    <option value="center"></option>
                                    <option value="right"></option>
                                    <option value="justify"></option>
                                </select>
                            </span>
                                    <span class="ql-formats">
                                <button class="ql-link"></button>
                                <button class="ql-image"></button>
                            </span>
                                </div>
                            </div>
                            <div class="panel-body quill-editor-container" id="quill-editor"></div>
                        </div>
                    </div>
                </div>
                <div class="page-widget file-question">
                    <h4>4. File - question</h4>
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">Browse&hellip; 
                            <input type="file" multiple>
                        </span>
                        </label>
                        <input type="text" class="form-control" disabled>
                    </div>
                    <span class="help-block">Select one or more files from your device</span>
                </div>
                <div class="page-widget rating-question">
                    <h4>5. Question - rating</h4>
                    <div class="input-group">
                        <input id="questionRating1" name="input-name" type="number" class="rating rating-loading" data-min="0" data-max="5" data-step="1" data-size="xs" data-show-caption="false">
                    </div>
                </div>
                <div class="page-widget range-question">
                    <h4>6. Question - range</h4>
                    <div class="input-group range-input-wrapper">
                        <span class="min-range-value">0</span>
                        <input id="rageInputSlider1" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" />
                        <span class="max-range-value">100</span>
                    </div>
                </div>
            <!-- </div> -->
        </div>
        <div role="tabpanel" class="tab-pane fade" id="survey-page-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem culpa ut odio voluptatum fuga vero id quae sint reiciendis dolor, minus saepe, fugit omnis laborum provident facere veritatis placeat maiores quibusdam. In earum expedita facere, deserunt, ut rem quo possimus odio. Dolorem perferendis, est natus veniam eos, tempora aut. Architecto impedit autem ea numquam, accusantium blanditiis. Molestiae deleniti ipsam dicta quisquam illum ipsa expedita, harum aliquam, nobis odio at, id minus! Quam similique numquam expedita eaque alias a, dolorem sapiente nam repellendus iusto accusamus maiores velit corporis voluptas quod quos est laborum dolores suscipit ducimus, omnis sequi tempora, totam. Maxime.</div>
    </div>
</div>
<div class="survey-footer">
    <div class="progress-widget">
        <span class="progress-pages">
            <span class="progress-pages__current">2</span>/<span class="progress-pages__amount">3</span>
        </span>
        <div class="progress">
            <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%; min-width: 2em;">
                
            </div>
        </div>
        <span class="progress-percents">45%</span>
    </div>
    <div class="survey-controls text-center">
        <a href="#" type="button" class="btn btn-light cta-btn prev-page">Prev page</a>
        <a href="#" type="button" class="btn btn-light cta-btn next-page">Next page</a>
    </div>
</div>