<div class="icon-wrapper">
    <a href="#" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-edit">
            <use xlink:href="img/svg-sprite.svg#edit"></use>
        </svg>
    </a>
    <a href="#" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-delete">
            <use xlink:href="img/svg-sprite.svg#delete"></use>
        </svg>
    </a>
    <ul class="nav navbar-nav nav-pills navbar-right">
        <li role="presentation" class="dropdown">
            <a id="dLabel" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="#">Action 1</a></li>
                <li><a href="#">Action 2</a></li>
                <li><a href="#">Action 3</a></li>
            </ul>
        </li>
    </ul>
</div>