<div class="search-heading">
    <div class="form-group">
        <h1 class="search-heading__title">New survey</h1>
    </div>
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" id="txtSearch" />
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-search">
                        <use xlink:href="img/svg-sprite.svg#search"></use>
                    </svg>
                </button>
            </div>
        </div>
    </form>
</div>
<a href="#" type="button" class="btn btn-light btn-md cta-btn">Save</a>
<a href="#" type="button" class="btn btn-light btn-md cta-btn">Save as template</a>
<a href="#" type="button" class="btn btn-light btn-md cta-btn">Cancel</a>
<a href="#" type="button" class="btn btn-light btn-md cta-btn pull-right">New page</a>