<div class="sidebar-widget panel panel-default">
    <div class="panel-heading text-center">
        <span class="">Question type</span>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            <li>
                <a href="#" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-widget-type">
                        <use xlink:href="img/svg-sprite.svg#multiple-choice"></use>
                    </svg>
                    <span>Multiple choice question</span>
                </a>
            </li>
            <li>
                <a href="#" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-widget-type">
                        <use xlink:href="img/svg-sprite.svg#single-choice"></use>
                    </svg>
                    <span>Question with one answer option</span>
                </a>
            </li>
            <li>
                <a href="#" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-widget-type">
                        <use xlink:href="img/svg-sprite.svg#text"></use>
                    </svg>
                    <span>Text question</span>
                </a>
            </li>
            <li>
                <a href="#" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-widget-type">
                        <use xlink:href="img/svg-sprite.svg#file"></use>
                    </svg>
                    <span>File question</span>
                </a>
            </li>
            <li>
                <a href="#" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-widget-type">
                        <use xlink:href="img/svg-sprite.svg#stars"></use>
                    </svg>
                    <span>Rating (stars) question</span>
                </a>
            </li>
            <li>
                <a href="#" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-widget-type">
                        <use xlink:href="img/svg-sprite.svg#range"></use>
                    </svg>
                    <span>Range-slider question</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="sidebar-widget panel panel-default">
    <div class="panel-heading text-center">
        <span class="">Survey's parameters</span>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked> Anonymous survey</input>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked> Numbers of questions</input>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked> Numbers of pages</input>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Random order of questions</input>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Stars for required fields</input>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked> Progress bar</input>
                </label>
            </div>
        </div>
        <!-- <a href="#" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-widget-type">
                <use xlink:href="img/svg-sprite.svg#range"></use>
            </svg>
            <span>Range-slider question</span>
        </a> -->
    </div>
</div>