<div class="search-heading">
    <div class="form-group">
        <h1 class="search-heading__title">Templates</h1>
    </div>
    <a href="#" type="button" class="btn btn-light btn-md cta-btn">New template</a>
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" id="txtSearch" />
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-search">
                        <use xlink:href="img/svg-sprite.svg#search"></use>
                    </svg>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row templates">
  <div class="col xs-18 col-sm-9 col-md-6">
    <div class="templates__wrapper templates__wrapper__bottom-shadows">
      <div class="templates__header-controls icon-wrapper"><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-edit">
            <use xlink:href="img/svg-sprite.svg#edit"></use>
          </svg>
        </a><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-delete">
            <use xlink:href="img/svg-sprite.svg#delete"></use>
          </svg>
        </a></div>
      <div class="templates__inner">
        <h4 class="templates__inner__heading text-center">Template 1</h4>
        <p class="templates__inner__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A repellendus cum necessitatibus quas repellat fuga iusto, perferendis delectus maiores culpa!</p>
        <div class="panel panel-default">
          <div class="panel-body"><span class="pull-left">Questions: 12</span><span class="pull-right">Pages: 3</span></div>
        </div>
        <div class="text-center"><a href="#" type="button" class="btn btn-light cta-btn">Create survey</a></div>
      </div>
    </div>
  </div>
  <div class="col xs-18 col-sm-9 col-md-6">
    <div class="templates__wrapper templates__wrapper__bottom-shadows">
      <div class="templates__header-controls icon-wrapper"><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-edit">
            <use xlink:href="img/svg-sprite.svg#edit"></use>
          </svg>
        </a><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-delete">
            <use xlink:href="img/svg-sprite.svg#delete"></use>
          </svg>
        </a></div>
      <div class="templates__inner">
        <h4 class="templates__inner__heading text-center">Template 2</h4>
        <p class="templates__inner__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A repellendus cum necessitatibus quas repellat fuga iusto, perferendis delectus maiores culpa!</p>
        <div class="panel panel-default">
          <div class="panel-body"><span class="pull-left">Questions: 12</span><span class="pull-right">Pages: 3</span></div>
        </div>
        <div class="text-center"><a href="#" type="button" class="btn btn-light cta-btn">Create survey</a></div>
      </div>
    </div>
  </div>
  <div class="col xs-18 col-sm-9 col-md-6">
    <div class="templates__wrapper templates__wrapper__bottom-shadows">
      <div class="templates__header-controls icon-wrapper"><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-edit">
            <use xlink:href="img/svg-sprite.svg#edit"></use>
          </svg>
        </a><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-delete">
            <use xlink:href="img/svg-sprite.svg#delete"></use>
          </svg>
        </a></div>
      <div class="templates__inner">
        <h4 class="templates__inner__heading text-center">Template 3</h4>
        <p class="templates__inner__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A repellendus cum necessitatibus quas repellat fuga iusto, perferendis delectus maiores culpa!</p>
        <div class="panel panel-default">
          <div class="panel-body"><span class="pull-left">Questions: 12</span><span class="pull-right">Pages: 3</span></div>
        </div>
        <div class="text-center"><a href="#" type="button" class="btn btn-light cta-btn">Create survey</a></div>
      </div>
    </div>
  </div>
  <div class="col xs-18 col-sm-9 col-md-6">
    <div class="templates__wrapper templates__wrapper__bottom-shadows">
      <div class="templates__header-controls icon-wrapper"><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-edit">
            <use xlink:href="img/svg-sprite.svg#edit"></use>
          </svg>
        </a><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-delete">
            <use xlink:href="img/svg-sprite.svg#delete"></use>
          </svg>
        </a></div>
      <div class="templates__inner">
        <h4 class="templates__inner__heading text-center">Template 4</h4>
        <p class="templates__inner__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A repellendus cum necessitatibus quas repellat fuga iusto, perferendis delectus maiores culpa!</p>
        <div class="panel panel-default">
          <div class="panel-body"><span class="pull-left">Questions: 12</span><span class="pull-right">Pages: 3</span></div>
        </div>
        <div class="text-center"><a href="#" type="button" class="btn btn-light cta-btn">Create survey</a></div>
      </div>
    </div>
  </div>
  <div class="col xs-18 col-sm-9 col-md-6">
    <div class="templates__wrapper templates__wrapper__bottom-shadows">
      <div class="templates__header-controls icon-wrapper"><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-edit">
            <use xlink:href="img/svg-sprite.svg#edit"></use>
          </svg>
        </a><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-delete">
            <use xlink:href="img/svg-sprite.svg#delete"></use>
          </svg>
        </a></div>
      <div class="templates__inner">
        <h4 class="templates__inner__heading text-center">Template 5</h4>
        <p class="templates__inner__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A repellendus cum necessitatibus quas repellat fuga iusto, perferendis delectus maiores culpa!</p>
        <div class="panel panel-default">
          <div class="panel-body"><span class="pull-left">Questions: 12</span><span class="pull-right">Pages: 3</span></div>
        </div>
        <div class="text-center"><a href="#" type="button" class="btn btn-light cta-btn">Create survey</a></div>
      </div>
    </div>
  </div>
  <div class="col xs-18 col-sm-9 col-md-6">
    <div class="templates__wrapper templates__wrapper__bottom-shadows">
      <div class="templates__header-controls icon-wrapper"><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-edit">
            <use xlink:href="img/svg-sprite.svg#edit"></use>
          </svg>
        </a><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-delete">
            <use xlink:href="img/svg-sprite.svg#delete"></use>
          </svg>
        </a></div>
      <div class="templates__inner">
        <h4 class="templates__inner__heading text-center">Template 6</h4>
        <p class="templates__inner__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A repellendus cum necessitatibus quas repellat fuga iusto, perferendis delectus maiores culpa!</p>
        <div class="panel panel-default">
          <div class="panel-body"><span class="pull-left">Questions: 12</span><span class="pull-right">Pages: 3</span></div>
        </div>
        <div class="text-center"><a href="#" type="button" class="btn btn-light cta-btn">Create survey</a></div>
      </div>
    </div>
  </div>
  <div class="col xs-18 col-sm-9 col-md-6">
    <div class="templates__wrapper templates__wrapper__bottom-shadows">
      <div class="templates__header-controls icon-wrapper"><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-edit">
            <use xlink:href="img/svg-sprite.svg#edit"></use>
          </svg>
        </a><a href="#" class="navigation-link">
          <svg xlmns="http://www.w3.org/2000/svg" class="icon-delete">
            <use xlink:href="img/svg-sprite.svg#delete"></use>
          </svg>
        </a></div>
      <div class="templates__inner">
        <h4 class="templates__inner__heading text-center">Template 7</h4>
        <p class="templates__inner__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A repellendus cum necessitatibus quas repellat fuga iusto, perferendis delectus maiores culpa!</p>
        <div class="panel panel-default">
          <div class="panel-body"><span class="pull-left">Questions: 12</span><span class="pull-right">Pages: 3</span></div>
        </div>
        <div class="text-center"><a href="#" type="button" class="btn btn-light cta-btn">Create survey</a></div>
      </div>
    </div>
  </div>
</div>


