<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  //= template/head_meta.html

  <title>Users | SurveyMonkey iTechArt</title>

  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

  //= template/header-user.html

  <div class="container-fluid">
  	<div class="row">
  		<div class="col-sm-4 sidebar-wrapper">
			//= template/sidebar.html
  		</div>

  		<div class="col-sm-14 main-wrapper">
  			//= template/about-main.html
  		</div>
  	</div>
  </div>

  //= template/copyright.html

  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
