$svg-icons: (
    svg-sprite: (width: 108px, height: 108px, svgPath: '../img/svg-sprite.svg'),
    account-passkey: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: 0px),
    key: (width: 16px, height: 16px, backgroundX: -18px, backgroundY: -18px),
    key-new: (width: 16px, height: 16px, backgroundX: -36px, backgroundY: -36px),
    login: (width: 16px, height: 16px, backgroundX: -54px, backgroundY: -54px),
    login-1: (width: 16px, height: 16px, backgroundX: -72px, backgroundY: -72px),
    round-account: (width: 16px, height: 16px, backgroundX: -90px, backgroundY: -90px),
);