$svg-icons: (
    svg-sprite: (width: 2328px, height: 2328px, svgPath: '../img/svg-sprite.svg'),
    account-passkey: (width: 347.96px, height: 347.96px, backgroundX: 0px, backgroundY: 0px),
    key: (width: 395.64px, height: 395.64px, backgroundX: -358px, backgroundY: -358px),
    login: (width: 512px, height: 512px, backgroundX: -764px, backgroundY: -764px),
    login-1: (width: 512px, height: 512px, backgroundX: -1286px, backgroundY: -1286px),
    round-account: (width: 510px, height: 510px, backgroundX: -1808px, backgroundY: -1808px),
);