/*
* Third Party
*/

// example of usage: @import "../../bower_components/normalize-css/normalize"; //don't need .css 

/*
 * Redefined Bootstrap's variables MUST BE BEFORE @import "bootstrap_custom".
*/

$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$brand-primary: #eb1c23;
$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;
$navbar-default-toggle-hover-bg: $brand-primary;
$navbar-default-toggle-hover-icon-bar-bg: #fff;
$grid-columns: 18 !default; //** Number of columns in the grid.
$grid-gutter-width: 20px !default; //** Padding between columns. Gets divided in half for the left and right.
@import "_bootstrap_custom";



/*
* png sprite
*/

@import "partials/_sprite"; // generated scss from png.sprite 

/*
* Custom .scss
*/

@import 'partials/mixins';
//Fonts variables
$medium: 'RobotoMedium',
sans-serif;
$light: 'RobotoLight',
sans-serif;
$thin: 'RobotoThin',
sans-serif;

@import "partials/app";
@import "partials/header";
@import "partials/login";
@import "partials/register";
@import "partials/sidebar";
@import "partials/about-main";
@import "partials/users";
@import "partials/copyright";