@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'), url('../fonts/RobotoMedium.woff2') format('woff2'), url('../fonts/RobotoMedium.woff') format('woff'), url('../fonts/RobotoMedium.ttf') format('truetype'), url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'), url('../fonts/RobotoLight.woff2') format('woff2'), url('../fonts/RobotoLight.woff') format('woff'), url('../fonts/RobotoLight.ttf') format('truetype'), url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}

@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/RobotoThin.eot');
    src: url('../fonts/RobotoThin.eot') format('embedded-opentype'), url('../fonts/RobotoThin.woff2') format('woff2'), url('../fonts/RobotoThin.woff') format('woff'), url('../fonts/RobotoThin.ttf') format('truetype'), url('../fonts/RobotoThin.svg#RobotoThin') format('svg');
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font: normal 16px $light, sans-serif;
    padding: 0;
    margin: 0 0 10em;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.page-wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
    &.toggled {
        padding-left: 22.22222222222%;
        /* sidebar always would be 4/18 grid width*/
        & .sidebar-wrapper {
            width: 22.22222222222%;
        }
        & .main-wrapper {
            position: absolute;
            margin-right: -22.22222222222%;
        }
    }
}

.sidebar-wrapper {
    z-index: 1000; // position: absolute;
    position: fixed;
    left: 22.22222222222%;
    width: 0;
    height: 80%;
    margin-left: -22.22222222222%; // overflow-y: auto;
    transition: all 0.5s ease;
}

.main-wrapper {
    width: 100%;
    // position: absolute;
    position: relative;
}

.page-wrapper:not(.toggled) {
    & .sidebar-wrapper {
        display: none;
    }
}

@media(min-width: $screen-sm-min) {
    .page-wrapper {
        padding-left: 0;
        &.toggled {
            padding-left: 22.22222222222%;
            & .sidebar-wrapper {
                width: 22.22222222222%;
            }
            & .main-wrapper {
                position: relative;
                margin-right: 0;
            }
        }
    }
    .sidebar-wrapper {
        width: 0;
    }
    .main-wrapper {
        position: relative;
    }
}

@media(max-width: $screen-sm-min) {
    .page-wrapper.toggled {
        padding-left: 0;
        & .sidebar-wrapper {
            position: relative;
            width: 100%;
            left: 0;
            margin: 0; // overflow-y: initial;
        }
        & .main-wrapper {
            position: relative;
            margin-right: 0;
        }
    }
}

.no-select {
    -webkit-user-select: none;
    /* Chrome, Opera, Safari */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

.no-padding {
    padding: 0;
}

input:focus,
a:focus,
textarea:focus,
select:focus {
    outline: none!important;
}

label {
    cursor: pointer;
}

::-webkit-input-placeholder {
    @include placeholder();
}

::-moz-placeholder {
    @include placeholder();
}





/* Firefox 19+ */

:-moz-placeholder {
    @include placeholder();
}





/* Firefox 18- */

:-ms-input-placeholder {
    @include placeholder();
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}

.icon-wrapper {
    display: flex;
    align-items: center;
    & svg {
        fill: currentColor;
    }
}

svg {
    fill: currentColor;
    vertical-align: middle;
    transition: all 0.2s;
    color: initial;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

//use bootstrap mixin
.btn-light {
    @include button-variant($brand-primary,
    $body-bg,
    $gray-lighter);
    &:active,
    &:hover,
    &:active:hover {
        background-color: #fff;
    }
    &:hover,
    &:focus {
        background-color: initial; // color: initial;
    }
}




/*
Firefox and fieldsets
Firefox has some awkward fieldset styling involving width that interferes with the responsive table. 
This cannot be overridden without a Firefox-specific hack that we don't provide in Bootstrap:
*/

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}


// Usage of png icon's
// .icon {
//  display:inline-block;
//  margin: 50px;
//  cursor:pointer;
//  opacity: .5;
//  &:hover {
//    opacity: 1;
//  }
// }
// .icon-vk {
//  @include sprite($icon-vk);  
// }
// .icon-fb {
//  @include sprite($icon-fb);  
// }
// .icon-insta {
//  @include sprite($icon-insta); 
// }