.input-heading,
.new-survey {
    & .input-group {
        width: 100%;
    }
}

.action-controls {
    margin-bottom: 2em;
    & a {
        margin: 0.5em 0;
    }
    & a:not(:last-child) {
        margin-right: 1em;
    }
}


.new-survey {
    & .panel-body {
        padding: 5px 10px;
    }
    & .right-sidebar {
        margin-bottom: 20px;
    }
    & a {
        color: initial;
    }
    & .nav>a,
    .nav>a:hover,
    .nav>a:focus {
        position: absolute; //z-index: 3; // do not touch
        top: -2.2em;
        left: -3em;
    }
    & .tab-content {
        position: relative;
    }
    & a[role="button"] {
        text-decoration: none; //fix a > svg text decoration
    }
    & .nav>li>a:hover,
    .nav>li>a:focus {
        //override bootstrap
        background-color: $body-bg;
    }
}

.page-constructor {

    & .widget-controls {
        margin-bottom: 5px;
    }
    & .icon-wrapper {
        justify-content: flex-end;
    }
}

.widget-controls {
    margin-bottom: 20px;
    &.editable {
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }
    & .icon-dropdown {
        & .dropdown-menu-left {
            left: 0;
            right: auto;
        }
        & .dropdown-menu-right {
            right: 0;
            left: auto;
        }
        & .dropdown-toggle {
            padding: 0;
        }
    }
}

.page-widget {
    position: relative;
    padding: 1em;
    border-radius: 8px;
    border: 1px solid $gray-lighter;
    margin-bottom: 1em;
    & label {
        font-weight: normal;
        width: 100%; // convenient way to check inputs
        margin-right: 1em;
    }
    &.editable {
        border: 1px dashed $brand-primary;
        .drag-button {
            margin-right: auto;
            cursor: move;
            &:hover .icon-draggy {
                cursor: move;
                fill: $brand-primary;
            }
        }
        & .icon-draggy {
            @include svg-size-align(1.3);
        }
    }
}

.radio-question {
    .input-group {
        margin: 1em 0;
    }
}

.text-editor {
    & .panel-heading,
    & .panel-body {
        padding: 0;
    }
    & .ql-toolbar.ql-snow,
    .ql-container.ql-snow {
        //override default styles
        border: 0;
    }
    & .ql-editor.ql-blank::before {
        //override default styles
        font: 14px/1.1 'Roboto', sans-serif;
    }
    & .quill-editor-container {
        min-height: 8em;
    }
}