.register-logo {
	@include svg-size-align(5, center);
        transition: all 0.5s ease;
        &:hover {
            cursor: pointer;
            fill: $brand-primary; // styling on hover
            transform: scale(1.1) rotate(360deg);
        }
}