.survey-results {
    &__heading {
        margin: 1em 0;
    }
    & .panel-body {
        padding: 5px 0;
    }
    & .survey-stats-cat {
        margin: 2em 2em 2em 0;
        .btn-light.active {
            color: #fff;
            background-color: $brand-primary;
            border-color: $brand-primary;
        }
    }
    & .summary {
        display: inline-block;
        vertical-align: middle;
    }
}

.live-search-box {

    & .btn-light:active,
    .btn-light.active,
    .open>.btn-light.dropdown-toggle {
        background-color: #fff;
        color: $brand-primary;
    }
    & .bootstrap-select .dropdown-toggle:focus {
        outline: none!important;
    }
    & .bootstrap-select {
        & .dropdown-menu>li>a {
            white-space: pre-wrap;
        }
    }
}

.canvasjs-chart-credit {
    //hide canvasjs chart license
    display: none;
}

.chart-bar-container {
    width: 100%;
    height: 150px;
}

.widget-results {
	padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item:not(:last-child) {
		margin-bottom: 0.5em;
    }
}