.survey {
	& .nav-pills {
		margin: 2em 0 1em;
	}
    & .page-widget {
        border-width: 0 0 1px 0;
        border-radius: 0;
        &:last-child {
            border: 0;
            margin-bottom: 0;
        }
    }
    & .tab-content {
        padding: 1em;
        border: 1px solid $navbar-default-toggle-border-color;
        border-radius: 8px;
    }
}

.survey-footer {
    padding: 1em 0;
    & .progress {
        //override bootstrap
        margin-bottom: 0;
    }
}


.progress-widget {
    margin: 1em 0 3em;
    display: flex;
    align-items: center;
    & .progress {
        width: 100%;
    }
    & span.progress-pages,
    & span.progress-percents {
        margin: 0 1em;
    }
}