.survey-results {
    &__heading {
        margin: 1em 0;
    }
    & .panel-body {
        padding: 5px 0;
    }
    & .survey-stats-cat {
        margin: 2em 2em 2em 0;
        .btn-light.active {
            color: #fff;
            background-color: $brand-primary;
            border-color: $brand-primary;
        }
    }
    & .summary {
        display: inline-block;
        vertical-align: middle;
    }
    .table {
        margin-top: 20px;
    }
}

.live-search-box {

    & .btn-light:active,
    .btn-light.active,
    .open>.btn-light.dropdown-toggle {
        background-color: #fff;
        color: $brand-primary;
    }
    & .bootstrap-select .dropdown-toggle:focus {
        outline: none!important; // fuck off bootstrap-select's important! :)
    }
    & .bootstrap-select {
        & .dropdown-menu>li>a {
            white-space: pre-wrap;
        }
    }
}

.canvasjs-chart-credit {
    //hide canvasjs chart license
    display: none;
}

.chart-bar-container {
    width: 100%;
    height: 150px;
}

.widget-results {
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item:not(:last-child) {
        margin-bottom: 0.5em;
    }
}

.sortable {
    position: relative;
    cursor: pointer;
    @extend .no-select;
    &.dropup>.caret {
        border-bottom-color: $brand-primary;
    }
    & .caret {
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-50%);
        border-top-color: $brand-primary;
    }
}

.table-rounded {
    border: 1px solid $table-border-color;
    border-collapse: separate;
    border-radius: 8px;
    &>thead>tr>th {
        border-bottom: 0;
    }
    & tr>td:not(:last-child),
    & th:not(:last-child) {
        border-right: 1px solid $table-border-color;
    }
}