.users-table {
    th,
    td {
        vertical-align: middle;
        text-align: center;
        &:first-child {
            text-align: left; // first column without centering
        }
    }

    td:last-child {
        & a {
            text-decoration: none; // fix underline for svg controls
        }
    }
    svg {
        transition: all 0.2s;
        color: initial;
    }
    & .icon-wrapper {
        justify-content: center;
        & svg {
            margin: 0 5px;
        }
    }
    & tfoot td:last-child {
        white-space: nowrap;
    }
    &>tbody>tr>td,
    &>thead>tr>th,
    &>tfoot>tr>td {
        //override bootstrap
        vertical-align: middle;
    }
    & .nav>li {
        text-align: center;
    }
    & .nav-pills>li {
        //override bootstrap
        float: none;
    }
}

.dropdown-menu {
    //fix z-index to correct value
    z-index: 999999999;
}

.navbar-right {
    & .dropdown-menu {
        right: 0;
        left: auto;
    }
}

.cta-btn,
.cta-btn:focus {
    background-color: $brand-primary;
    color: #fff;
}

.cta-btn:focus:hover {
    background-color: #fff;
    color: $brand-primary;
}

.input-heading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1em; // global style for all pages
    &__title {
        margin-right: 1em;
    }
    & .cta-btn {
        //only cta button
        margin-right: 4em;
    }
    & form {
        flex: 1;
        margin: 1em 0 1em auto;
    }
}

// IMPORTANT!!!
.input-heading,
.new-survey {
    & .input-group {
        min-width: 150px;
    }
}

//TODO save to app all behavior of svg controls
.icon-edit,
.icon-delete,
.icon-arrow {
    @include svg-size-align(1.3);
    &:hover {
        fill: $brand-primary;
    }
}

//TODO save to app common classes
.input-group .form-control.rounded-input {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.icon-search {
    @include svg-size-align(1.3); //fix height collapse
    fill: #fff;
}


.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    //override bootstrap
    outline: none;
}

li.dropdown {
    white-space: nowrap;
}