// usage in app.scss: prefixes for all browsers on focusing at input
@mixin placeholder() {
    font: 12px/18px $medium;
    text-transform: uppercase;
}

// mixins for svg-sprite-icons

%svg-sprite-dims {
    width: 1em;
    height: 1em;
}

@mixin svg-size-align($size: 1, $align: left) {
    @if $size==1 {
        // Shares the dimensions
        @extend %svg-sprite-dims;
    }
    width: $size + em;
    height: $size + em;
    @if $align==left {
        justify-self: flex-start;
    }
    @else if $align==center {
        justify-self: center;
        margin: auto;
    }
    @else if $align==right {
        justify-self: flex-end;
        margin-left: auto;
        order: 1;
    }
}


// keyframes for image-hovers

// @keyframes shine {
//     100% {
//         left: 125%;
//     }
// }
